In [ ]:
!git clone https://github.com/Ashutosh-Vermaa/Banknote-Authentication-End-to-End-.git

fatal: destination path 'Banknote-Authentication-End-to-End-' already exists and is not an empty directory.

In [ ]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/Banknote-Authentication-End-to-End-/BankNote_Authentication.csv')

In [ ]:
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [ ]:
### Independent and Dependent features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
## Prediction
y_pred=classifier.predict(X_test)

In [ ]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [ ]:
score

0.9878640776699029

In [ ]:
### Create a Pickle file
import pickle
pickle_out = open("classifier.pkl","wb") #write mode
pickle.dump(classifier, pickle_out) #dumping classifier created in classifier.pkl file
pickle_out.close()